@import url('https://fonts.googleapis.com/css?family=Oswald');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');




h1{
	
	font-family: 'Oswald', sans-serif;
	font-size:60px;
	color:#00c4cc;
	text-transform: uppercase;
	line-height: 0.7;
	position: relative;
	
}

h2{
	
	font-family: 'Oswald', sans-serif;
	font-size:45px;
	color:#00c4cc;
	line-height: 0.7;
	position: relative;
	
}

h3{
	
	font-family: 'Open-Sans', sans-serif;
	color:#ffffff;
	font-weight:400;
	
}

p{
	
	font-family: 'Open-Sans', sans-serif;
	color:#ffffff;
	font-weight:400;
	
}

#past-guesses ul{

	list-style: none; 
	padding-right: 100px;
	font-family: 'Oswald', sans-serif;
	text-align: center;
}

#past-guesses li{
	background: #00c4cc;
	border: 2px solid #ddff00;
	padding: 10px;
}


ul{

	list-style: none; 
	font-family: 'Open-Sans', sans-serif;
	font-weight: 300;
	text-align: left;
	color: #ffffff;
}




#header{
	padding: 5px; 
	background:white;
	position: relative;
	width: 85%;
}


#guess-input{
	padding-left: 300px;
	float:left;
	
}

#past-guesses{
	color: #ffffff;
	float:right;
	width: 33%;
	padding-right: 150px;
	position: relative;
}

#footer {
    width: 100%;
    border-top: solid 3px #ddff00;
    background-color: white;
    position: fixed;
    bottom: 0;
}

body{
	background:#00c4cc;
	background-image:  url("https://static.wixstatic.com/media/831ce8_bff65fd89ca64b25ad2d3ca5ad1d6dff~mv2.png?dn=background+%282%29.png");
	
}


input {
	border: 0; 
	font-size: 16px;
	background: #eaeaea;
	color: #00c4cc;
	border-radius: 5px;
	}


#featureImage{
	 pointer-events: none;
}


#footer img {
    width: 300px;
}




.button {
    background-color: #00c4cc; 
    border: 2px solid #ddff00;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
}

.button2 {
    background-color: #ddff00; 
    border: none;
    color: #00c4cc;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    border-radius: 12px;
}




















